<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
    <input type="number" placeholder="Primeiro numero" v-model="primeiro">
    <input type="number" placeholder="Segundo numero"  v-model="segundo">
    <select v-model="operacao">
        <option v-for="opcao in opcoes">
            {{ opcao.text }}
        </option>
    </select>

    <button v-on:click= "calcular">calcular</button><br>
   <span style="color: red">{{resultado}}</span>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data:{
                primeiro:0,
                segundo: 0,
                operacao:'A',
                resultado:0,
                opcoes: [
                    {text:'Vezes', value: 'A'},
                    {text:'Mais', value: 'B'},
                    {text:'Menos', value: 'C'},
                    {text:'Divisao', value: 'D'}
                ]

            }, methods:{
                calcular: function(){   

                    if(this.operacao=='Vezes'){
                        this.resultado=this.primeiro*this.segundo
                    }
                    else if(this.operacao=='Mais'){
                        primeiro = this.primeiro
                        segundo = this.segundo
                        this.resultado=primeiro+segundo
                    }
                    else if(this.operacao=='Menos'){
                        this.resultado=this.primeiro-this.segundo
                    }
                    else if(this.operacao=='Divisao'){
                        this.resultado=this.primeiro/this.segundo
                    }
            }
        }
     })     
    </script>

</body>
</html>